{% extends 'home/base.html'%}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'catalog/style.css' %}">
<script src="{% static 'catalog/cart.js' %}"></script>
{% endblock %}
{% block title%} CoolShop - КОРЗИНА {% endblock%}

{% block content%}
    <ul class="cart-list">
    <!-- Список товаров -->
</ul>
<div class="cart-summary">
    <span class="cart-summary-items">Всего товаров: 0</span>
    <span class="cart-summary-price">Общая сумма: 0 р</span>
</div>

{% endblock %}